<div class="container-fluid leak-bg-blue" id="footer">
    <div class="container py-5 text-white">
        <div class="row">
            <div class="col-12 col-md mb-3">
                <img src="{{ asset('build/images/logo-duffau.png') }}" class="bg-white img-fluid py-2 mb-2" alt="Logo Duffaut Energie">
                <img src="{{ asset('build/images/cropped-logo-spi3.png') }}" class="bg-white img-fluid py-2" alt="Logo Duffaut Energie">

            </div>
            <div class="col-12 col-md">
                <h5>DUFFAU</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="https://www.duffau.eu/a-propos/">A propos</a></li>
                    <li><a class="text-white" href="https://www.duffau.eu">Site web</a></li>
                    <li><a class="text-white" href="https://www.duffau.eu/produits/">Produits</a></li>
                    <li><a class="text-white" href="https://www.duffau.eu/actu/actualites/">actualités</a></li>
                    <li><a class="text-white" href="https://www.duffau.eu/emploi.html">Emplois</a></li>
                    <li><a class="text-white" href="https://www.duffau.eu/nous-contacter.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-md">
                <h5>SPI ENERGIE</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="https://www.spienergie.fr/qui-sommes-nous/">A propos</a></li>
                    <li><a class="text-white" href="https://www.spienergie.fr">Site web</a></li>
                    <li><a class="text-white" href="https://www.spienergie.fr/produits/">Nos produits</a></li>
                    <li><a class="text-white" href="https://www.spienergie.fr/pompe-a-vide/">Vide industriel</a></li>
                    <li><a class="text-white" href="https://www.spienergie.fr/actualites/">Actualités</a></li>
                    <li><a class="text-white" href="https://www.spienergie.fr/contact/">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-md">
                <h5>LEAK MANAGER</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="#">A propos</a></li>
                    <li><a class="text-white" href="#">Dashboard</a></li>
                    <li><a class="text-white" href="#">Campagnes</a></li>
                    <li><a class="text-white" href="#">rapports personnalisés</a></li>
                    <li><a class="text-white" href="#">Administration</a></li>
                    <li><a class="text-white" href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-md">
                <h5>LIENS UTILES</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="privacy_policy.php">Mentions légales</a></li>
                    <li><a class="text-white" href="#">RGPD</a></li>
                    <li><a class="text-white" href="#">Politique de confidentialité</a></li>
                    <li><a class="text-white" href="#">Eco-conception</a></li>
                    <li><a class="text-white" href="#">Plan du site</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block py-2">&copy; 2022 Leak Manager</small>
            </div>
            <div class="col-12 col-md">
                <small class="d-block py-2"><a href="" class="text-dark">Plan du site</a></small>
            </div>
            <div class="col-12 col-md">
                <small class="d-block py-2"><a href="" class="text-dark"><i class="fa-brands fa-youtube"></i></a></small>
            </div>
            <div class="col-12 col-md">
                <small class="d-block py-2">Conception et réalisation par <a href="#" class="text-dark"> BJLG</a></small>
            </div>
        </div>
    </div>
</footer>